/* body {
    background-color: rgb(236, 228, 234);
} */

.navbar{
    background-color: white;
    height: 5rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
    font-size: 2rem;
}
